:root {
    --bg-color: rgb(201, 150, 9);
    --text-color: rgb(238, 230, 230);
    --text-button-color: rgb(219, 172, 18);
    --height-header: 70px;
    --mousse: url("img/header_back.png");
    --bulle: url("img/bg_milieu.png");
}


body {
    margin: 0px;
    padding: 0px;
    background-image: var(--bulle);
}

header {
    overflow: hidden;
    position: fixed;
    width:100%;
    height: var(--height-header);
    top:0;
    background-image: var(--mousse);
}

.main-content {
    padding-top: var(--height-header);
    padding-bottom: var(--height-header);
    margin: 2%;
}

.button-deconnect {
    height: 28px;
    border: 1px;
    color: var(--text-button-color);
    background-image: var(--mousse);
}

.button-deconnect:hover {
    color: rgb(99, 63, 9);
    cursor: pointer;
}

.header-block {
    width : auto;
    margin-top: calc(var(--height-header) / 4);
    margin-bottom: calc(var(--height-header) / 4);
}

.leftSide {
    float: left;
    margin-left: 20px;
}

.rightSide {
    float: right;
    margin-right: 20px;
}

.centerPart {
    margin-left: 25%;
    margin-right: 30%;
}

.max-width {
    width: 100%;
}

.fen-apercu {
    width: 40%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 4px solid black;
}

label{
    width: 180px;
	float: left;
	display: block;
}
